In [1]:
import pandas as pd
import numpy as np

In [9]:
sal = pd.read_csv('C:/Users/Suraj  kumar/Desktop/ML Club/Salaries.csv',low_memory=False)

In [10]:
# Find minimum value of BasePay column

In [11]:
sal['BasePay'].min()

-166.01

In [12]:
# Find maximum value of BasePay column

In [13]:
sal['BasePay'].max()

319275.01

In [14]:
# Find all the details of employee where sal is 319275.01

In [16]:
sal.loc[sal['BasePay'] == sal['BasePay'].max()]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

In [17]:
# Find mean BasePay

In [18]:
sal['BasePay'].mean()

66325.44884050643

In [19]:
# Find the name of employee which has maximum TotalPayBenefits

In [26]:
sal.loc[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [55]:
# Find all details of employee which has minimum TotalPayBenefits

In [27]:
sal.loc[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148044,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [28]:
# Find the index of row which contains min TotalPaybenefits

In [37]:
sal.index.get_loc(sal.index[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][0])

148044

In [38]:
# For each year find the mean BasePay

In [40]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [41]:
# Find unique JobTitles

In [53]:
len(sal['JobTitle'].unique())

2154

In [54]:
# Find the maximum 5 JobTitle with the number of employees

In [58]:
sal['JobTitle'].value_counts().head()

Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: JobTitle, dtype: int64

In [59]:
# Find the no. of Job Title who contains only 1 employee in Year 2013

In [114]:
(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [91]:
# Find the no. of Job Title which contains 'chief' in its Job Title

In [130]:
sal['JobTitle'].apply(lambda X:('chief' in X.lower())).sum()

624

In [93]:
# Find the correlation between TotalPayBenefits & "length of Job Title" as "title_len"

In [116]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [117]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036669
title_len                -0.036669   1.000000